<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <h3>Not Found</h3>
        <img src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="404">
        <p>This page does not exists</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Return to home</a>
      </div>
    </div>
  </div>
</div>

