<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4 mx-auto">Market App Mongodb, Nodejs y Angular !</h1>
    <img src="/img/mean-stack.png" class="mx-auto d-block m-4 imgIndex">
    <hr class="my-4">
    <p class="lead">Una aplicación simple para administrar publicaciones desarrollada con tecnologías Mongodb Nodejs, Angular</p>
    <a class="btn btn-primary btn-lg" target="_blank" href="https://eduvirtual.unab.edu.sv/login/index.php" role="button">+ Info</a>
  </div>
</div>

